<!-- フォローボタン(マイページのユーザーがcurrent_userでなければ表示 -->
<% if user_signed_in? && @user != current_user %>
  <div id="follow_form">
    <% if current_user.following?(@user) %>
    <!-- フォロー済みの場合 -->
      <%= render "unfollow" %>
    <% else %>
    <!-- フォローしていない場合 -->
      <%= render "follow" %>
    <% end %>
  </div>
<% end %>