<h2>グルメサイト~sharena~について</h2>
<div class="container">
  <div class="row">
    <div class="about">
      <h4><strong>sharena(シェアナ)とは</strong></h5>
      <p>お気に入りの店を誰かに共有したい！<br>
        趣向が合う人のお気に入りの店が知りたい！<br>
        現在地周辺でいい店がないか知りたい！<br>
        そんなグルメな人達のための、グルメ情報を地図情報とともに記録し共有を行うサイトです。</p>

      <h4><strong>sharenaで出来ること</strong></h5>
      <p><strong>1,オススメ店舗の閲覧</strong></p>
      <p>・他の人や自分が投稿したオススメ店舗をMapから参照することができます。</p>
      <p>・トップページや投稿一覧ページの検索窓から(ユーザー名・店名・地名)などを入力して検索が可能です。</p>
      <p>・現在地取得ボタンを押すと現在地を取得しMapに表示します。</p>
      <p>・気に入った投稿にはいいねやコメントの投稿ができます。</p>
      <p>・お気に入りのユーザーをフォローする事ができます。</p>
      <p>※コメントやフォローはログイン時のみ可能です。</p>

      <p><strong>2,オススメ店舗の投稿</strong></p>
      <p>・ログイン後、「新規投稿」からオススメ店舗の投稿ができます。</p>
      <p>・自分の投稿した内容は後から編集・削除が可能です。</p>

      <p><strong>3,マイページ＆ユーザーページ</strong></p>
      <p>・ログイン後、マイページから過去の自分の投稿やいいねした投稿を確認できます。<br>
      <p>・各ユーザーページからそのユーザーの投稿やユーザーがいいねした投稿を確認できます。<br>
      </p>
    </div>
</div>
</div>