<p>show</p>
<h2><%= @restaurant.name %></h2>
<div id="map">
</div>

<style>
#map{
  height: 400px;
}
</style>

<script>
//Map表示
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setCenter(new google.maps.LatLng(<%= @latitude %>, <%= @longitude %>)); //初期位置設定
    handler.getMap().setZoom(15); //拡大率設定
  });
</script>