// Place all the styles related to the Abouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about {
  background-color: #ffffff;
  border: solid 2px #EEEEEE;
  position: relative;
}

.about h5 {
  margin-left: 10px;
}

.about p {
  margin-left: 30px;
}