// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
    background-color: #ffffff;
    border: solid 2px #EEEEEE;
    position: relative;
}

.welcome h2 {
  text-align: center
}

.field {
  padding-left: 40px;
}

.required {
  color: red;
}